<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="com.framework.utility.BrowserFactory"/>
      <class name="com.framework.testcases.LoginToApp"/>
      <class name="com.framework.testcases.BaseClass"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
